*{ /*definit le style global(selecteur universel)*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Indique que l'on va inclure les marges internes et bordure dans la tailles des parents*/
}
body{
    font-family: 'Hedvig Letters Serif', serif;
}

.h1{
    display: flex;
    text-align: center;
    color: brown;
}

.paragraph{
    color: aliceblue;
}

